<!DOCTYPE html>
<html>
  <head>
    <title>Multiapps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %1> %>
    <script src="https://dohliam.github.io/dropin-minimal-css/switcher.js" type="text/javascript"></script>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Multiapps in Rails</h1>
    <%= yield %>

    <hr />
    <h4>Navigation</h4>
    <ul>
      <li><%= link_to "Blogs", blog.blogs_path %></li>
      <li><%= link_to "Accounting", accounting.transactions_path %></li>
      <li><%= link_to "Admin", admin.users_path %></li>
    </ul>
  </body>
</html>
